body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(tokyoluv-CsMNgdHXzFs-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0,0,0,.8);
}
form legend{
    margin-top: 10px;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.input_form{
    width: 200px;
    margin: 15px 50px;
}

.input_form input{
    padding: 10px;
    width: 100%;
    color: #fff;
    font-style: 20px;
    border: 1px solid rgb(200, 43, 145);
    box-sizing: border-box;
    background: none;
    
}
.checkbox {
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    color: rgb(255, 255, 255, 0.8);
}

/* button */
.input_form input[type="submit"] {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    background: rgba(200, 43, 145, 0.6);
}
