body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(wall_2.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
}
p {
    padding: 5px 0; 
    margin: 0;
    text-align: start;
    /* font-weight: bold; */
    font-size: 15px;
    /* background-color: rgba(18, 100, 50, 0.623); */
}
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0,0,0,.7);
    text-align: center;
    width: 30%;
}
.block{
    padding: 10px 10px;
}
.field_block input{
    width: 70%;
    height: 30px;
    background-color: rgb(0,0,0,.1);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    color: #fff;
}
.selector_block select{
    width: 40%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(0,0,0,.1);
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: #fff;
}
.selector_block option{
    background-color: rgba(27, 22, 22);
    color: #fff
}
.textarea_block textarea{
    width: 70%;
    height: 50px
}

.radio_block label{
    font-size: 15px;
}

.checkbox_block label{
    font-size: 12px;
}
.checkbox_block p{
    font-size: 12px;
    font-weight: normal;
    padding-left: 20px;
    text-align: center;
}
.checkbox_box{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 0;
}
.form legend{
    padding: 20px 0;
    font-size: 25px;
    font-weight: bold;
    
}
.bth_block{
    padding: 20px 10px;
}
.bth_block input{
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background: rgb(14, 100, 48);
    border: none;
    color: #fff;
}
textarea{
    background-color: rgb(0,0,0,.1);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    color: #fff;
}